In [1]:
import pandas as pd

In [11]:
df = pd.DataFrame([
    ['Bar', '2/18/2019', '7AM', '9AM',120],
    ['Bar', '2/18/2019', '9AM', '11AM',120],
    ['Foo', '2/18/2019', '10AM', '12PM',120],
    ],
    columns=['Name', 'Date', 'Start','End','Duration'])

In [3]:
df

  Name       Date Start   End  Duration
0  Bar  2/18/2019   7AM   9AM       120
1  Bar  2/18/2019   9AM  11AM       120
2  Foo  2/18/2019  10AM  12PM       120

In [7]:
df.groupby(['Name','Date'])['Duration'].sum().reset_index()

  Name       Date  Duration
0  Bar  2/18/2019       240
1  Foo  2/18/2019       120

In [8]:
df['Time'] = df['Start'] + '-' + df['End']

In [9]:
df

  Name       Date Start   End  Duration       Time
0  Bar  2/18/2019   7AM   9AM       120    7AM-9AM
1  Bar  2/18/2019   9AM  11AM       120   9AM-11AM
2  Foo  2/18/2019  10AM  12PM       120  10AM-12PM

In [10]:
df.groupby(['Name', 'Date']).apply(lambda x: pd.Series({
    'Duration': x['Duration'].sum(),
    'Times': x['Time'].values
}))

                Duration                Times
Name Date
Bar  2/18/2019       240  [7AM-9AM, 9AM-11AM]
Foo  2/18/2019       120          [10AM-12PM]

In [12]:
df['Time']=df.Start+'-'+df.End
df.groupby(['Name','Date']).agg({'Time':'unique','Duration':'sum'})

                               Time  Duration
Name Date
Bar  2/18/2019  [7AM-9AM, 9AM-11AM]       240
Foo  2/18/2019          [10AM-12PM]       120